.menu__item {
	transition: transform cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;

	&:hover {
		transform: translateY(-2px);
	}
}

.menu__link {
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: "Shadows Into Light", cursive;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	transition: color cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;

	&:hover {
		color: darken(#ffffff, 10%);
	}

	&:focus {
		outline: none;
	}
}
