.menu__link {
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: "Shadows Into Light", cursive;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	transition: color cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
	cursor: pointer;

	&:hover {
		color: darken(#FFFFFF, 10%);
	}

	&::before {
		width: 0;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #FFFFFF;
		transition: all cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
		content: "";
	}

	&:hover::before {
		width: 100%;
		background-color: darken(#FFFFFF, 10%);
	}

	&:focus {
		outline: none;
	}
}
