.app__header {
	padding: 30px;
	background-color: #146a20;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}
